.horizontal_nav {
	border-bottom:#FFF solid 1px;
}
#main_logo {
	margin-left:9% 0 15px 0;
}

.focus_text_wrapper {
	margin-left:9%;
	display:table;
	width:82%;
	height:100%;
}
.focus_text {
	text-align:left;
	display:table-cell;
	vertical-align: middle;
}
.cta_button {
	float:right;
	margin-top:20px;
}