body {
	overflow:hidden;
}
div, span, ul, li {
	font-size:13px;
}
#nav_container * {
	color:#FFF;
}
#nav_container, #block_view_panel_container{
	height:100%;
	position:relative;
}
#nav_container{
	float:left;
	width:200px;
	background-color:#414344;
}
#block_view_panel_container {
	overflow:hidden;
	height:100%;
}
#panel_container{
	display:block;
}
#logo_container{
	background-color:#d24646;
	padding:15px;
	text-align:center;
}
	#logo{
		width:60%;
	}
	#logo_shadow {
		background-color:#c73d33;
		height:4px;
	}